<%- include header %>
<ul style="list-style:none">
    <li><b><a href="https://facebook.com">facebook</a></b></li>
    <li><b><a href="http://google.com">google</a></b></li>
</ul>
<%- include footer %>